{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}
        {% image self.main_image fill-1300x750 as header_image %}
        <style>
            .about-hero {
                background-image: url('{{ header_image.url }}');
            }
            .about-hero {
                background-image: url("{% static 'torchbox/images/bikes-blue.jpg' %}");
            }

/*            .slick-prev,
            .slick-prev:hover {
                background: url('{% static 'torchbox/images/icons/arrow-up.svg' %}') center no-repeat transparent;
                background-color: #f85a40;
                background-size: 70%;
            }

            .slick-next,
            .slick-next:hover {
                background: url('{% static 'torchbox/images/icons/arrow-down.svg' %}') center no-repeat transparent;
                background-color: #f85a40;
                background-size: 70%;
            }*/
        </style>


    <div class="about-hero">
        <section class="hiring">
            <div class="container">
                <span style="display: block !important; margin: 0 0 60px 0;">
                {% homepage_job_listing 0 intro_text=page.intro %}
                </span>
            </div>
        </section>
    </div>

    <!--
    <section class="text-content js-text-content" data-jq-clipthru="testclass-1" id="about-content">
        <div class="container">
            
            <div class="main-content">
                <div class="we-do">
                    <p>Some text about careers, lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </section>
    -->

    {% if self.reasons_to_join.all %}
    <section>
        <div class="container">
            <div class="reasons">
                <h2>{{ self.reasons_intro }}</h2>
                <ul>
                    {% for reason in self.reasons_to_join.all %}
                    <li>
                        {% image reason.image width-675 height="auto" %}
                        <div class="text">
                            <div class="number">{{ forloop.counter|stringformat:"02d" }}</div>
                            <h3>{{ reason.title }}</h3>
                            <p>{{ reason.body }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}


    {% if self.involvement_title or self.involvement.all %}
    <div class="involved">
        <h2>{{ self.involvement_title }}</h2>
        {% if self.involvement.all %}
        <ul class="involved-in">
            {% for involvement in self.involvement.all %}
            <li>
                <a href="">
                    <div class="content">
                        {{ involvement.svg|safe }}
                        <h3>{{ involvement.title }}</h3>
                        <p>{{ involvement.description }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}

    <!--<div class="full-image"></div>-->

{% endblock %}
{% block extra_js %}
    <!--<script src="{% static 'torchbox/js/vendor/jquery.matchHeight-min.js' %}" type="text/javascript"></script>-->
    <script src="{% static 'torchbox/vendor/slick/slick.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'torchbox/vendor/slick/slick.css' %}"/>
{% endblock %}
