{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}
    {% if self.main_image %}
        {% image self.main_image fill-1300x750 as header_image %}
        <style>
            .about-hero {
                background-image: url('{{ header_image.url }}');
            }
        </style>
    {% endif %}
    <div class="about-hero">
    </div>

    <div class="full-image"></div>

    <div class="about-text" id="tester-unique">
        <div class="container">
            <div class="content">
                {{ self.heading|richtext }}
            </div>
        </div>
    </div>

    <section class="text-content" data-jq-clipthru="testclass-1" id="about-content">
        <div class="container">
            <div class="main-content">
                <!-- -->
                {% if self.quote %}
                    <div class="italic">
                        <p class="hangingindent"> &#8220; {{ self.quote }}&#8221; </p>
                    </div>
                {% endif %}

                <div class="intro were-tbx ">
                    {{ self.intro|richtext }}
                </div>

                <div class="quote">
                    <div class="dark">
                        {{ self.middle_break|richtext }}
                    </div>
                </div>

                <div class="intro were-tbx ">
                    {{ self.body|richtext }}
                </div>

                {% include "torchbox/includes/streamfield.html" %}
                <!-- -->
            </div>

        </div>
    </section>


    <div class="involved">
        <h2> </h2>
        <ul class="involved-in">
            {% for item in self.content_block.all %}
            <li>
                <div class="content">
                    <img src="{% static 'torchbox/images/geek-nights.svg' %}" alt="">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.content|safe }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
